requests~=2.31.0
python-dotenv~=1.0.1
bs4~=0.0.2
tqdm>=4.64.1
pytest>=7.2.2
pytest-mock==3.12.0
urllib3~=1.26.18
psycopg2-binary~=2.9.6
pandas~=2.2.3
datasets~=2.19.1
# common_crawler only
huggingface-hub~=0.22.2

# html_tag_collector_only
lxml~=5.1.0
beautifulsoup4>=4.12.3

# CKAN Collector
from-root~=1.3.0

# Google Collector
google-api-python-client>=2.156.0
marshmallow~=3.23.2

sqlalchemy~=2.0.36
fastapi[standard]~=0.115.6
httpx~=0.28.1
ckanapi~=4.8
psycopg[binary]~=3.1.20
APScheduler~=3.11.0
alembic~=1.14.0
asyncpg~=0.30.0
pytest-asyncio~=0.25.2
transformers~=4.40.2
tensorflow-cpu~=2.15.1
keras~=2.15.0


# HTML Collector
playwright~=1.49.1

# Security Manager
PyJWT~=2.10.1

# Tests
pytest-timeout~=2.3.1

openai~=1.60.1
aiohttp~=3.11.11