pandas~=2.1.4
python-dotenv~=1.0.1
argparse~=1.1
huggingface-hub~=0.22.2
requests~=2.31.0
requests_html>=0.10.0
lxml~=5.1.0
pyppeteer>=2.0.0
beautifulsoup4>=4.12.3
bs4~=0.0.2
tqdm>=4.64.1
polars~=0.20.10
urllib3~=1.26.18
